/* home.css */
.opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Centers the content */
    padding: 20px;
  }
  
  .dropdown {
    
    margin-left: 50%; /* Add spacing between dropdown and search bar */
  }
  .btn{
    height: 50px;
  }
  
  .search-bar {
    width: 300px; /* Adjust width as needed */
  }
  