
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato", sans-serif;
    background-color: white;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: color 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .menubtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    transition: background-color 0.3s;
  }
  
  .menubtn:hover {
    background-color: #444;
  }

  #add-main {
    transition: margin-left 0.5s;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }
  .new-equipment:hover{
    text-decoration:underline;
    filter: drop-shadow(0 0 0.75rem rgb(36, 35, 35));
  }
 
  #nav {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  
  #add-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 50px;
    color: #333;
  }

  main {
    padding: 40px;
  }
  
  .new-equipment {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Radio Button Styles */
  .form-group input[type="radio"] {
    display: inline-block;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .form-group input[type="radio"]:checked {
    background-color: #ddd;
  }
  
  #add-btn-div {
    display: flex;
    justify-content: flex-end;
    padding: 2vw;
  }
  
  
  